

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: auto;
    background-color: beige;
    gap: 0%; 


    .container{
        background-color: white;
        box-shadow: 0px 5px 20px gray;
        border-radius: 10px;

        div{
            padding: 10px 20px;

            span{
                font-weight: bold;

                button{
                    background-color: blue;
                    border-radius: 10px;
                    border: none;
                    color: white;
                    padding: 3px 10px;
                    margin: 0px 5px;
                }
            }

            p{
                color: gray;
                margin: 0px;
            }
        }

        .with-bg{
            background-color: blue;
            color: white;

            p{color: white;}
            button{
                background-color: white;
                color: blue;
            }
        }

    }

}