body{
    height:100vh;
    display: flex;
    flex-direction: column;
    background-color: black;

}

.fixed-box{
    position: fixed;
    top: 10px;
    right: 10px;
    width: 150px;
    background-color: lightyellow;
    padding: 10px;
    
}